<DOCTYPE html!>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./header.css">
        <link rel="stylesheet" type="text/css" href="./dark_theme.css">

        <title>thank you</title>
    </head>
    <body>
        <header>
            <h2>Thanking page</h2>
            
        </header>
        <nav class="navbar-nav">
            <ul>
            <li class="first-child"> 
                <a href=".\aboutmw">to know 
                more about me</a>
            </li>
            <li>
                <a href=".\contactus">contact me</a>
            </li>
            <li>
                <a href="..\">mian page</a>
            </li>
       </ul></nav>
        <section>
            <strong>I'm so, thankful for your thought and i will be pleasured to respond on it soon</strong>
        </section>
        <footer>
            
            <strong>bloog Abdulaziz 2023c</strong>
            <a href="..\">main page</a>

        </footer>
    </body>
</html>